@{
    ViewData["Title"] = "Home Page";
}
<style>
    .fontgap {
        letter-spacing: 1px;
    }

    .btn-lg {
        font-size: 1rem;
    }

    @@media (max-width: 990px) {

        .fontgap .btn {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }

</style>
<div class="">
    <div class="col-md-12 alert-danger">
        <marquee behavior="scroll" scrollamount="3" onmouseover="this.stop();" onmouseout="this.start();">
            @* Admission form submission last date is 30 NOVEMBER, 2021 (प्रवेश फॉर्म जमा करने की अंतिम तिथि 30 नवम्बर 2021)*@
        </marquee>
    </div>
    <div class="clearfix">&nbsp;</div>
</div>
<div class="container" style="min-height:500px;">
    <div class="row">
        <div class="col-sm-8">
            <div class=" card">
                <h5 class="card-header   mb-2 bg-primary text-white ">
                    Informations
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-5 mt-3">  <a href="~/doc/Admission Process.docx hindi.pdf" class="btn btn-outline-danger w-100" target="_blank"><i class="fas  fa-bullhorn" aria-hidden="true"></i>  Guidelines And Instructions For Applicants</a></div>
                        <div class="col-sm-3 mt-3">  <a href="~/doc/Admission-brochure.pdf" class="btn btn-outline-success w-100" target="_blank"><i class="fas  fa-file" aria-hidden="true"></i> Brochure</a></div>
                        <div class="col-sm-4 mt-3">  <a href="~/doc/AdmissionInformationandContact_details_of_the_Department.pdf" class="btn btn-outline-danger w-100" target="_blank"><i class="fas  fa-file" aria-hidden="true"></i> RW Campus Information</a></div>

                        <p class="mt-3 text-danger">
                            निर्देश:- (फॉर्म भरने से पहले अभ्यर्थी से अपेक्षा है कि उक्त निर्देशों को अवश्य पढ़ लें )
                        </p>
                    </div>
                </div>

            </div>
            <div class="card mt-4">
                <h5 class="card-header  bg-success text-white ">
                    Web Registration
                </h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 mt-3">  <a asp-action="Registration" asp-controller="Home" class=" btn btn-success btn-lg w-100"><i class="fa-regular fa-clipboard"></i> B.Ed New Registration</a></div>
                        <div class="col-sm-6 mt-3">  <a asp-action="Login" asp-controller="Home" class="btn btn-success btn-lg w-100"><i class="fas fa-sign-in" aria-hidden="true"></i> Candidate Login Only For B.Ed</a></div>

                        <div class="col-sm-6 mt-3 col-xs-12 ">  <a asp-action="preRegistration" asp-controller="Registration" class="btn btn-primary btn-lg w-100 text-white "> <i class="fa-regular fa-clipboard"></i> Registration For Other Courses</a></div>

                        <div class="col-sm-6 mt-3">  <a asp-action="stdlogin" asp-controller="Registration" class="btn btn-primary btn-lg w-100"><i class="fas fa-sign-in" aria-hidden="true"></i> Candidate Login For Other Courses</a></div>
                        <div class="col-sm-12 mt-3">
                            <a asp-action="CounsellingData" asp-controller="Home" class="btn btn-warning btn-lg w-100 text-green">
                                <i class="fas fa-sign-in" aria-hidden="true"></i> Candidate Registration For B.E.,
                                MCA,
                                MBA,
                                B.PHARMA,
                                BHMCT
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-4 col-xs-12">
            <div class=" w-100">
                <h4 class="card-header bg-primary text-white newsline"> News & Announcements</h4>
                <div class="card-body">
                    <div style="height: 282px; overflow-x: visible; overflow-y: auto;">
                        <ul class="list-group">

                            <li class="list-group-item"><a href="~/doc/AdmissionInformationandContact_details_of_the_Department.pdf" target="_blank" style="text-decoration: none;" class="glow">Admission Information and Contact details of the Department / Institute</a></li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<style>
    .glow {
        animation: example 2s linear infinite;
    }

    @@keyframes example {
        from {
            color: red;
        }

        to {
            color: #337ab7;
        }
    }

    .newsline {
        font-family: sans-serif;
        /*  margin: 100px auto;*/
        color: #228B22;
        text-align: center;
        position: relative;
    }

        .newsline:before {
            content: "";
            display: block;
            width: 30px;
            height: 5px;
            background: red;
            left: 0;
            top: 50%;
            position: absolute;
        }

        .newsline:after {
            content: "";
            display: block;
            width: 30px;
            height: 5px;
            background: red;
            right: 0;
            top: 50%;
            position: absolute;
        }
</style>
